@charset "UTF-8";

/*Typical Device Breakpoints
------------------------------
 Celular - 360px até 720px
 Tablet - 768px até 1024px
 laptop - 992px até 1366px
telas grandes - 1080px até 1920px
*/

@media screen and (min-width:360px) and (max-width:734.40px)  {

    .abaLat{
        height: 93em;
    }

    .abaLat_exibir{
        position: fixed !important;
        right: 14em !important;
        transition: all 1s;
    }
    
    .abaLat_remover{
        position: relative;
        right: 22em;
        transition: all 1s;
    }

    .abaLat > ul{
        margin-top: 45em 
    }

    .abaLat > div{
        margin-top: 38em;
    }

    .abaLat > img {
        top: 39.5em;
    }
    
    .topo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30em;
        height: 70px;
        background-color: #fb0c06;
    }

    .topo > .icones1 {
        cursor: pointer;
        position: relative;
        right: 12em;
        top: 3px;
    }

    .topo > .icones2 {
        cursor: pointer;
        position: relative;
        right: 4em;
    }

    .topo > input[type = text]{
        width: 6em;
        height: 15px;
        padding: 10px;
        border-radius: 5px;
        background-image: url(../imgs/lupa.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 18px;
        padding-left: 18px;
        position: relative;
        right: 10em;
        margin-right: 0px;
    }

    .container_cata {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .conteudo {
        margin: auto;
        width: 30em;
        height: 93em;
        background-color: white;
    }


    .pratos{
        display: flex;
        flex-direction: column;
    }

    .final {
        display: flex;
        margin-top: 2em;
        width: 95%;
        height: 100px;
        justify-content: space-around;
    }

    .rodaPe {
        width: 30em;
        height: 3.2em;
        background-color: rgba(55, 41, 41, 0.364);
        margin-top: 6em;
    }
}